{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}
    
{% block contenuCentral %}
<style>
	.footer
	{
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
	}
</style>
<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h2><b><i class="fa fa-wechat"></i> Forum</b><a title="Renvoie à l'accueil de Follow the Rhythm." href="/follow_the_rhythm/web/app_dev.php/accueil/1/1/25"><button style='margin-left: 32px;' type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Retour à l'accueil</button></a></h2></div>
                <div class="row">
                	<div class="col-lg-12">
            <div class="container">
	            <div class ="row">
		            <div class ="col-lg-3">
			            <h4>Catégorie</h4>
		            </div>
		            <div class ="col-lg-1">
			            <h4 align="center">Topics</h4>
		            </div>
		            <div class ="col-lg-1">
			            <h4 align="center">Messages</h4> 
		            </div>
		            <div class ="col-lg-7">
			            <h4 align="center">Derniers Messages</h4>
		            </div>
	            </div>
            </div>
            <div class="container">
	            <div class ="row">
		            <div class ="col-lg-3">
			            <h5><a title="Discuter des news du moment." href="{{path('follow_the_rhythm_categorie',{'catId':1})}}"> News</a></h5>
		            </div>
		            <div class ="col-lg-1">
			            <h5 align="center">{{tabTopics[1]}}</h5>
		            </div>
		            <div class ="col-lg-1">
			            <h5 align="center">{{tabNbMessTopics[1]}}</h5>
		            </div>
		            <div class ="col-lg-7">
		            	{% if dDate[1] != "" %}
			            <h5 align="center">{{dDate[1]}} par <a href='{{path('follow_the_rhythm_pageUtilisateur', {'id':dUtilisateur[1]})}}' title='{{dPseudo[1]}}'>{{dPseudo[1]}}</a> dans le topic <a href='{{path('follow_the_rhythm_messages', {'topicId':dTopic[1], 'page':1, 'nbParPage':25})}}' title='{{dTitre[1]}}'>{{dTitre[1]}}</a></h5>
			            {% endif %}
		            </div>
	            </div>
            </div>
            <div class="container">
	            <div class ="row">
		            <div class ="col-lg-3">
			            <h5><a title="Entrer dans l'espace privé." href="{{path('follow_the_rhythm_categorie',{'catId':2})}}"> Espace Privé</a></h5>
		            </div>
		            <div class ="col-lg-1">
			            <h5 align="center">{{tabTopics[2]}}</h5>
		            </div>
		            <div class ="col-lg-1">
			            <h5 align="center">{{tabNbMessTopics[2]}}</h5>
		            </div>
		            <div class ="col-lg-7">
		            	{% if dDate[2] != "" %}
			            <h5 align="center">{{dDate[2]}} par <a href='{{path('follow_the_rhythm_pageUtilisateur', {'id':dUtilisateur[2]})}}' title='{{dPseudo[2]}}'>{{dPseudo[2]}}</a> dans le topic <a href='{{path('follow_the_rhythm_messages', {'topicId':dTopic[2], 'page':1, 'nbParPage':25})}}' title='{{dTitre[2]}}'>{{dTitre[2]}}</a></h5>
			            {% endif %}
		            </div>
	            </div>
            </div>
            <div class="container">
	            <div class ="row">
		            <div class ="col-lg-3">
			            <h5><a title="Discuter des prochains concerts." href="{{path('follow_the_rhythm_categorie',{'catId':3})}}"> Concerts</a></h5>
		            </div>
		            <div class ="col-lg-1">
			            <h5 align="center">{{tabTopics[3]}}</h5>
		            </div>
		            <div class ="col-lg-1">
			            <h5 align="center">{{tabNbMessTopics[3]}}</h5>
		            </div>
		            <div class ="col-lg-7">
		            	{% if dDate[3] != "" %}
			           <h5 align="center">{{dDate[3]}} par <a href='{{path('follow_the_rhythm_pageUtilisateur', {'id':dUtilisateur[3]})}}' title='{{dPseudo[3]}}'>{{dPseudo[3]}}</a> dans le topic <a href='{{path('follow_the_rhythm_messages', {'topicId':dTopic[3], 'page':1, 'nbParPage':25})}}' title='{{dTitre[3]}}'>{{dTitre[3]}}</a></h5>
			           {% endif %}
		            </div>
	            </div>
            </div>
            <div class="container">
	            <div class ="row">
		            <div class ="col-lg-3">
			            <h5><a title="Discuter des promotions." href="{{path('follow_the_rhythm_categorie',{'catId':4})}}"> Promotions</a></h5>
		            </div>
		            <div class ="col-lg-1">
			            <h5 align="center">{{tabTopics[4]}}</h5>
		            </div>
		            <div class ="col-lg-1">
			            <h5 align="center">{{tabNbMessTopics[4]}}</h5>
		            </div>
		            <div class ="col-lg-7">
		            	{% if dDate[4] != "" %}
			            <h5 align="center">{{dDate[4]}} par <a href='{{path('follow_the_rhythm_pageUtilisateur', {'id':dUtilisateur[4]})}}' title='{{dPseudo[4]}}'>{{dPseudo[4]}}</a> dans le topic <a href='{{path('follow_the_rhythm_messages', {'topicId':dTopic[4], 'page':1, 'nbParPage':25})}}' title='{{dTitre[4]}}'>{{dTitre[4]}}</a></h5>
			            {% endif %}
		            </div>
	            </div>
            </div>
            <div class="list-group-item"><b><label><span class="glyphicon glyphicon-list-alt"></span> Règles du forum</label></b></h2>
				
				<p style="text-align:justify;">
				Les contributions contraires aux bons usages (racisme, pornographie, atteinte à la vie privée, injures, liens vers des sites (ou
				photos) à caractère pornographique...) seront supprimées.</br>
				Les messages jugés sensibles (à caractère politique, religieux...) pourront être supprimés pour éviter d'éventuels conflits.<br />
				L'administrateur et les modérateurs ne sont pas responsables du contenu des messages postés par les utilisateurs du forum. <br />
				Les topics des utilisateurs sont contrôlés régulièrement mais pas exhaustivement (modération <i>a posteriori</i>).</br>
				Chaque membre de la communauté peut (et doit) signaler tout message enfreignant une règle grave (messages qui nécessitent une
				modération urgente) grâce au bouton "Signaler"</br>
				L'administrateur et les modérateurs se réservent la possibilité de supprimer ou ne pas valider tout message qui pourrait aller à l'encontre des intérêts 
				de la communauté.
				</p>
				
            </div>
        </div>
        </div>
    </div>
</div>
    
{% endblock %}