{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}

{% block contenuCentral %}

  <script>
    function changerNbParPage()
    {
      $lien = document.getElementById("nb").value;
      location.href = $lien;
    }
  </script>
  
  <div class="container">
      <div class="panel panel-default">
      <!--default panel content-->
      <div class="panel-heading">
          <div class="row">
          <div class="col-lg-6">
            <h2><b><span class="fa fa-list"></span> Liste des Actualités</b></h2>
            Nombre de messages par page : <select onChange='changerNbParPage()' id='nb'>
          <option value='{{nbParPage}}' selected>Nombre courant : {{nbParPage}}</option><option value=5>5</option><option value=10>10</option><option value=25>25</option><option value=50>50</option>
        </select>
          </div>
      
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
              <input type="text" class="form-control" placeholder="Search for...">
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label>Options de tri :</label>
              <a href="{{path('follow_the_rhythm_accueil',{'page': 1, 'sens': 1, 'nbParPage': nbParPage})}}" title="Affiche toutes les actualités"><button type="button" class="btn btn-secondary"autofocus>Toutes les actualités</button></a>
              <a href="{{path('follow_the_rhythm_accueilArtistesUniquement',{'page': 1, 'sens': 1, 'nbParPage': nbParPage})}}" title="Affiche seulement les actualités qui concernent des artistes et non des concerts"><button type="button" class="btn btn-secondary">Actualites sur les artistes uniquement</button></a>
            </div>

            <div class="col-lg-6">
              <div class="pull-right">
              <a href="{{path('follow_the_rhythm_accueilArtistesUniquement',{'page': 1, 'sens': 2, 'nbParPage': nbParPage})}}" title="Tri les actualités de la plus ancienne à la plus récente"><button class="btn btn-secondary" type="button"><span class="glyphicon glyphicon-time"></span><span class="glyphicon glyphicon-sort-by-order"></span> Chronologique</button></a>
          <a href="{{path('follow_the_rhythm_accueilArtistesUniquement',{'page': 1, 'sens': 1, 'nbParPage': nbParPage})}}" title="Tri les actualités de la plus récente à la plus ancienne"><button class="btn btn-secondary" type="button"><span class="glyphicon glyphicon-time"></span><span class="glyphicon glyphicon-sort-by-order-alt"></span>Antéchronologique</button></a> 
          </div>
           </div>
     <!--     <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Trier par ordre<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li>Chronologique</li>
              <li>Antéchronologique</li>
            </ul>
          </div>-->
          </div>
        </div>
      <!--AFFICHAGE DES ACTUALITEES-->
        {% for actualiteCourante in tabActualites %}
        {% if actualiteCourante.artiste is empty %}
        {% else %}
            {% if actualiteCourante.concert is empty %}
          <div class="list-group-item"><h2><label>{{actualiteCourante.titre}}</label></h2>
           <p><label>
            {% if actualiteCourante.artiste|length > 1 %}
          Artistes concernés:
          {% else %}
          Artiste concerné:
          {% endif %}   
            {% for list in actualiteCourante.artiste %}
             <a href="{{path('follow_the_rhythm_pageArtiste',{'id':list.id})}}">{{list.nomDeScene}}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
          </p></label>
              
              <p><label>{{actualiteCourante.description}}</label></p>
              
              <p><label>Date : {{actualiteCourante.dateActualite|date("d/m/Y")}}</label></p>
        <!--Si coup(s) de coeur > 1-->
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if actualiteCourante.nbCoupDeCoeurs > 1 %}
                <a href='' title="J'adore cet article !"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Coup de cœur</button></a> {{actualiteCourante.nbCoupDeCoeurs}} Coups de cœur 
            {% else %}
                <a href='' title="J'adore cet article !"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Coup de cœur</button></a> {{actualiteCourante.nbCoupDeCoeurs}} Coup de cœur
            {% endif %}   
          {% else %}
            {% if actualiteCourante.nbCoupDeCoeurs > 1 %}
                <a href='' title="J'adore cet article !"><button type="button" class="btn btn-primary"  onclick="isNotConnected();"><span class="glyphicon glyphicon-heart"></span> Coup de cœur</button></a> {{actualiteCourante.nbCoupDeCoeurs}} Coups de cœur 
            {% else %}
                <a href='' title="J'adore cet article !"><button type="button" class="btn btn-primary"  onclick="isNotConnected();"><span class="glyphicon glyphicon-heart"></span> Coup de cœur</button></a> {{actualiteCourante.nbCoupDeCoeurs}} Coup de cœur
            {% endif %}   
          {% endif %}
          
            </div>
          {% endif %}
           {% endif %}
        {% endfor %}
      </div>
    </div>
<script>
  function isNotConnected(){
    alert("Il faut être connecté pour accéder à cette fonctionnalité");
  }
</script>
{% endblock %}
