{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}

{% block contenuCentral %}

  <script>
    function changerNbParPage()
    {
      $lien = document.getElementById("nb").value;
      location.href = $lien;
    }
  </script>
  
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h2><b><span class="fa fa-commenting"></span> {{titre}}</b></h2>
         Nombre de messages par page : <select onChange='changerNbParPage()' id='nb'>
          <option value='{{nbParPage}}' selected>Nombre courant : {{nbParPage}}</option><option value=5>5</option><option value=10>10</option><option value=25>25</option><option value=50>50</option>
        </select>
        </div>
     
      <div class="list-group">

      <!--AFFICHAGE DES MESSAGES-->
      {% if tabMessage is empty %}
            <div class="container">
	            <div class ="row">
		            <div class ="col-lg-12">
			            <h5>Aucun message. Soyez le premier à parler de "{{titre}}" !</h5>
		            </div>
	            </div>
            </div>
            {% else %}
        {% for messageCourant in tabMessage %}
        
          {% if messageCourant.topic.id == topicCourant %}
          <div class="list-group-item">
            <p></p><label>{{tabCreateur[messageCourant.id]}} le {{ messageCourant.date|date('d-m-Y') }} à {{messageCourant.date|date('H.i')}}</label></p>
            <p align="justify"><label>{{messageCourant.contenu}}</label></p>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <!--AFFICHAGE DU FORMULAIRE-->
      <div class="list-group">
        <div class="list-group-item">
          <form method="post" id=soumettreMessageForm name="formulaireMessage" {{form_enctype(formulaireMessage)}}>
              {{ form_widget(formulaireMessage)}}
              <span id='caracteres'>100 caractères restants</span><br />
              <input type=submit class="btn btn-primary" onsubmit="return false" onclick="return confirm('Vous allez soumettre un message sur le topic {{titre}}. Voulez-vous continuer ?');"><a href="{{path('follow_the_rhythm_messages',{'topicId': topicCourant, 'page': 1, 'nbParPage': nbParPage})}}"><input type=button class="btn btn-primary" value="Annuler" onclick="return confirm('Êtes vous sûr? Les données saisies seront effacées');"></a>
            <a title="Renvoie à l'accueil du forum." href="/follow_the_rhythm/web/app_dev.php/accueilForum"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Retour au forum</button></a><a title="Renvoie à l'accueil de Follow the Rhythm." href="/follow_the_rhythm/web/app_dev.php/accueil/1/1"><button style='margin-left: 4px;' type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Retour à l'accueil</button></a></br>
            </br>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
                function actualiserCaracteres()
                {
                  if (document.getElementById("message_message").value.length < 159)
                  document.getElementById("caracteres").firstChild.nodeValue = 160 - document.getElementById("message_message").value.length + " caractères restants.";
                  else document.getElementById("caracteres").firstChild.nodeValue = 160 - document.getElementById("message_message").value.length + " caractère restant.";
                } 
              </script>
<script>
var timer = setInterval(actualiserCaracteres, 100);
  function isNotConnected(){
    alert("Il faut être connecté pour accéder à cette fonctionnalité");
  }
  
  /*function afficherArtistesUniquement(){
    
  }*/
</script>
{#Pagination#}
<div align="center"><a title='Remonter en haut de la page courante' href="#"><button class="btn btn-primary"><i class="fa fa-angle-double-up"></i> Haut de page <i class="fa fa-angle-double-up"></i></button></a></div>
<div align=center>{% include "::pagination_2.html.twig" %}</div>
{% endblock %}


