{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}

{% block contenuCentral %}

  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h2><b><span class="fa fa-commenting"></span> {{titre}}</b></h2>
        </div>
     
      <div class="list-group">

      <!--AFFICHAGE DES MESSAGES-->
      {% if tabMessage is empty %}
            <div class="container">
	            <div class ="row">
		            <div class ="col-lg-12">
			            <h5>Aucun message. Soyez le premier à parler de "{{titre}}" !</h5>
		            </div>
	            </div>
            </div>
            {% else %}
        {% for messageCourant in tabMessage %}
        
          <div class="list-group-item">
            <p></p><label>{{tabCreateur[messageCourant.id]}} le 27/03/2018 à 10.00</label></p>
            <p align="justify"><label>{{messageCourant.contenu}}</label></p>
          </div>
        {% endfor %}
      {% endif %}
      <!--AFFICHAGE DU FORMULAIRE-->
          <form method="post" id=soumettreMessageForm name="formulaireMessage" {{form_enctype(formulaireMessage)}}>
              {{ form_widget(formulaireMessage)}}
            <input type=submit class="btn btn-primary" onsubmit="return false" onclick="return confirm('Vous confirmez?');">
            <a href="{{path('follow_the_rhythm_accueil',{'page': 1, 'sens': 1})}}"><input type=button class="btn btn-primary" value="Annuler" onclick="return confirm('Êtes vous sûr? Les données saisies seront effacées');"></a></br>
            </br>
          </form>
      </div>
    </div>
  </div>
</div>

<script>
  function isNotConnected(){
    alert("Il faut être connecté pour accéder à cette fonctionnalité");
  }
  
  /*function afficherArtistesUniquement(){
    
  }*/
</script>
{#Pagination#}
<div align="center"><a href="#"><button class="btn btn-primary"><i class="fa fa-angle-double-up"></i> Haut de page <i class="fa fa-angle-double-up"></i></button></a></div>
{% endblock %}


