{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}

{% block contenuCentral %}
<body  onload='setTimeout(TrouverAdresse, 10)'>
    <div class="container">
      <div class="panel panel-default">
      <!--default panel content-->
        <div class="panel-heading">

            <h2><b>{{concert.nom}}</b></h2> 
            <label>{{concert.dateConcert|date("d/m/Y")}}</label>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              {% if dejaSuivi %}
                <a title='Ne plus suivre {{concert.nom}}' href='{{path('follow_the_rhythm_nePlusSuivreConcert',{'concert':concert.id})}}'><p><button class="btn btn-primary">Ne plus suivre</button></a></p>
              {% else %}
                <a title='Suivre {{concert.nom}}' href='{{path('follow_the_rhythm_suivreConcert',{'concert':concert.id})}}'><p><button class="btn btn-primary">Suivre</button></a></p>
             {% endif %}
             {% else %}
               <a title='Connectez-vous pour suivre {{concert.nom}}' href='{{path('fos_user_security_login')}}'><input type="button" class="btn btn-primary" value="Connectez-vous pour suivre {{concert.nom}}." onclick="allerConcert();"></a>
            {% endif %}
           </div>
          <div class="row">
            <div class="col-lg-12">
     
     
     
        <div class="list-group">
            
            <div style='height: 370px;' class="list-group-item">
                <p><label><b><h3>Lieu</h3></b></label></p>
                <p><label id='lieu'>{{concert.lieu}}</label></p>
                <div id="map-canvas" style="float:right;height:220px;width:100%"></div>
            </div>
            <div class="list-group-item">
                <p><label><b><h3>Description</h3></b></label></p>
                <p style='text-align: justify;'><label>{{concert.description}}</label></p>
            </div>
            <div class="list-group-item">
                {% if artiste|length > 1 %}
                    <p><label><b><h3>Artistes participants ({{artiste|length}})</h3></b></label></p>
                {% else %}
                    <p><label><b><h3>Artiste participant ({{artiste|length}})</h3></b></label></p>
                {% endif %}
                {% for artisteCourant in artiste %}
                   <p> <label> <a href="{{path('follow_the_rhythm_pageArtiste',{'id':artisteCourant.id})}}" >{{artisteCourant.nomDeScene}}</a></label></p>
                {% endfor %}
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
function allerConcert(){
  alert("Il faut être connecté pour accéder à cette fonctionnalité");
}
</script>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=fr">
</script>
<script type="text/javascript">
var geocoder;
var map;
// initialisation de la carte Google Map de départ
function initialiserCarte() {
  geocoder = new google.maps.Geocoder();
  // Ici j'ai mis la latitude et longitude du vieux Port de Marseille pour centrer la carte de départ
  var latlng = new google.maps.LatLng(43.295309,5.374457);
  var mapOptions = {
    zoom      : 13,
    center    : latlng,
    mapTypeId : google.maps.MapTypeId.ROADMAP
  }
  // map-canvas est le conteneur HTML de la carte Google Map
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}
 
function TrouverAdresse() {
  // Récupération de l'adresse tapée dans le formulaire
  var adresse = document.getElementById('lieu').innerHTML;
  geocoder.geocode( { 'address': adresse}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      // Récupération des coordonnées GPS du lieu tapé dans le formulaire
      var strposition = results[0].geometry.location+"";
      strposition=strposition.replace('(', '');
      strposition=strposition.replace(')', '');
      // Affichage des coordonnées dans le <span>
      document.getElementById('text_latlng').innerHTML='Coordonnées : '+strposition;
      // Création du marqueur du lieu (épingle)
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      document.getElementById('map-canvas').style.visibility = hidden;
    }
  });
}
// Lancement de la construction de la carte google map
google.maps.event.addDomListener(window, 'load', initialiserCarte);
</script>

{% endblock %}