{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}

{% block contenuCentral %}
<body>
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
      <!--default panel content-->
        <div class="panel-heading">
            <h2><b>{{concert.nom}}</b></h2> 
            <label>{{concert.dateConcert|date("d/m/Y")}}</label>
            <input type="button" class="btn btn-primary" value="J'y serais!" onclick="allerConcert();">
        </div>
     
       
     
        <div class="list-group">
            
            <div class="list-group-item">
                <p><label><h3>Lieu</h3></label></p>
                <p><label>{{concert.lieu}}</label></p>
            </div>
            <div class="list-group-item">
                <p><label><h3>Description</h3></label></p>
                <p><label>{{concert.description}}</label></p>
            </div>
            <div class="list-group-item">
                <p><label><h3>Artiste participant</h3></label></p>
                {% for artisteCourant in artiste %}
                   <p> <label> <a href="{{path('follow_the_rhythm_pageArtiste',{'id':artisteCourant.id})}}" >{{artisteCourant.nomDeScene}}</a></label></p>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
function allerConcert(){
  alert("Il faut être connecté pour accéder à cette fonctionnalité");
}
</script>
{% endblock %}