{% extends "::vueMere.html.twig" %} {#La vue fille hérite de la vue mère#}
    
{% block contenuCentral %}
<style>
	.footer
	{
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
	}
</style>
<div class="container">
    <div class="panel panel-default">
        {% if (resultRechercheArtiste|length + resultRechercheConcert|length + resultRechercheTopic|length)>1 %}
            <div class="panel-heading"><h2><b><span class="glyphicon glyphicon-search"></span> Résultat de la recherche pour "{{ recherche }}" ({{resultRechercheArtiste|length + resultRechercheConcert|length + resultRechercheTopic|length}} resultats trouvés)</b></h2></div>
        {% else %}
            <div class="panel-heading"><h2><b><span class="glyphicon glyphicon-search"></span> Résultat de la recherche pour "{{ recherche }}" ({{resultRechercheArtiste|length + resultRechercheConcert|length + resultRechercheTopic|length}} resultat trouvé)</b></h2></div>
        {% endif %}
        <div class="row">
        	<div class="col-lg-12">
               <div class="container">
                    <div class ="row">
        	            <div class ="col-lg-3">
    			            <label><b><h3>Artistes ({{resultRechercheArtiste|length}})</h3></b>
    			            {% if resultRechercheArtiste is empty %}
    			                <p>Pas d'artistes trouvés pour "{{ recherche }}"</p>
    			            {% else %}
        			            {% for artisteCourant in resultRechercheArtiste %}
            		                <p><a title="Aller à la page de {{artisteCourant}}." href="{{path('follow_the_rhythm_pageArtiste',{'id':artisteCourant.id})}}">{{artisteCourant.nomDeScene}}</a></p>
            		            {% endfor %}
        		            {% endif %}
        		            </label>
    		            </div>
        	        </div>
                </div>
                <div class="container">
                    <div class ="row">
    		            <div class ="col-lg-3">
    			            <label><b><h3>Concerts  ({{resultRechercheConcert|length}})</h3></b>
    			               {% if resultRechercheConcert is empty %}
    			                <p>Pas de concerts trouvés pour "{{ recherche }}"</p>
    			            {% else %}
    			            {% for concertCourant in resultRechercheConcert %}
        		                <p><a title="Aller à la page du concert." href="{{path('follow_the_rhythm_pageConcert',{'id':concertCourant.id})}}" >{{concertCourant}}</a></p>
        		            {% endfor %}
        		            {% endif %}
        		            </label>
    		            </div>
    	            </div>
                </div>
                <div class="container">
                    <div class ="row">
        	            <div class ="col-lg-3">
        		            <label><b><h3>Topics  ({{resultRechercheTopic|length}})</h3></b>
        		            {% if resultRechercheTopic is empty %}
    			                <p>Pas de topics trouvés pour "{{ recherche }}"</p>
    			            {% else %}
        		            {% for topicCourant in resultRechercheTopic %}
        		                <p><a href="{{path('follow_the_rhythm_messages',{'topicId':topicCourant.id, 'page':1, 'nbParPage':25})}}">{{topicCourant}}</a></p>
        		            {% endfor %}
        		            {% endif %}
        		            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}